<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINANCEZ</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- TEMPORARILY DISABLED CLIENT-SIDE JS
    <script src="/js/dashboardSlider.js" defer></script>
    <script src="/js/dashboardModal.js" defer></script>-->
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            FINANCEZ
        </div>
        <ul class="sidebar-toplist">
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link active" href=""><img class="sidebar-toplist-item-icon" src="/iconography/IconDashboard.svg">Dashboard</a>
            </div>
            <div class="sidebar-toplist-item">
                
                <a class="sidebar-toplist-item-link" href=""><img class="sidebar-toplist-item-icon" src="/iconography/IconSearch.svg">Search</a>
            </div>
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href=""><img class="sidebar-toplist-item-icon" src="/iconography/IconSettings.svg">Settings</a>
            </div>
        </ul>

        <ul class="sidebar-mainlist">
            <div class="sidebar-mainlist-item">
                <a class="sidebar-mainlist-item-link" href="">Summary</a>
            </div>
            <div class="sidebar-mainlist-item">
                <a class="sidebar-mainlist-item-link" href="">Category</a>
            </div>
        </ul>

        <ul class="sidebar-bottomlist">
            <div class="sidebar-bottomlist-item">
                <a class="sidebar-bottomlist-item-link" target="_blank" href="https://github.com/DeltaGamingCH/FINANCEZ/tree/main?tab=readme-ov-file#financez">Help</a>
            </div>
            <div class="sidebar-bottomlist-item">
                <a class="sidebar-bottomlist-item-link" href="/account-center"><img class="sidebar-toplist-item-icon" src="/iconography/IconAccount.svg">Account Center</a>
            </div>
        </ul>
    </div>
    <div class="content">
        <div class="content-summary">
            <h1>Welcome to the Dashboard</h1>
            <p>This is the main content area of your dashboard.</p>
            <p>Total: <%= total %></p>
        </div>
        <div class="content-table">
            <div>
                <div class="table-header">
                    <div class="table-header-item">Title</div>
                    <div class="table-header-item">Amount</div>
                    <div class="table-header-item">Type</div>
                    <div class="table-header-item">Created At</div>
                </div>
                <% data.forEach(item=> { %>
                <a href="/dashboard/<%= item._id %>">
                        <div class="table-row">
                            <div class="table-row-item">
                                <%= item.title %>
                            </div>
                            <div class="table-row-item">
                                <%= item.amount %>
                            </div>
                            <div class="table-row-item">
                                <%= item.type %>
                            </div>
                            <div class="table-row-item">
                                <%= item.createdAt %>
                            </div>
                        </div>
                    <% }); %>
                </a>
            </div>
            <div class="content-table-create">
                <form action="/dashboard" method="post" class="form">
                    <input type="text" id="title" name="title" value="Title" required>
                    <input type="number" id="amount" name="amount" value="Amount" required>
                    <select id="type" name="type" required>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                    <select id="category" name="category" required>
                        <option value="category1">Category1</option>
                    </select>
                    <button type="submit">Create</button>
                </form>
            </div>
            
        </div>
    </div><!--
    <div class="myModal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Modal content goes here.</p>
        </div>
    </div>-->
</body>

</html>